:root {
	--mui-dark-color: hsla(224, 8%, 15%, 1);
	--mui-gray-color: hsla(224, 8%, 22%, 1);
	--mui-normal-color: hsla(224, 8%, 30%, 1);
	--mui-light-color: hsla(224, 8%, 36%, 1);
	--mui-lighter-color: hsla(224, 8%, 50%, 1);
}

.scroll {
	overflow:auto;
	-webkit-overflow-scrolling: touch;
}

.scroll::-webkit-scrollbar-track
{
	display:none;
}

.scroll::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
	background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	background-color: #888;
}

.scroll::-webkit-scrollbar-corner {
	display:none;
}

.invisible {
	display: none;
}

.popup {
	position: absolute;
	top:0;
	left:0;
	margin:16px;
	z-index:99999;
}

.popup.invisible {
	visibility: hidden;
}

.visibilityanimate {
	display: initial;
	visibility: visible;
	transition: opacity 200ms ease-in, visibility 0s linear;
	opacity: 1;
}

.visibilityanimate.invisible {
	visibility: hidden;
	opacity: 0;
	transition: opacity 200ms ease-in, visibility 0s linear 200ms;
}

.mui-light .popup > .popup-triangle-wrapper,
.mui .popup > .popup-triangle-wrapper {
	overflow: hidden;
	height:17px;
	margin: 0px;
	margin-top:-17px;
	padding: 0px;
}

.mui-light .popup > .popup-triangle-wrapper > .popup-triangle-inner,
.mui .popup > .popup-triangle-wrapper > .popup-triangle-inner {
	margin:5.142135624px;
	width: 22.627px;
	height: 22.627px;
	transform: rotate(45deg);
	transform-origin: 50% 50%;
	background: white;
}

.mui-light .popup > .popup-triangle-wrapper > .popup-triangle-inner,
.mui-light.popup > .popup-triangle-wrapper > .popup-triangle-inner {
	border: 1px solid gray;
	background: white;
}

.mui .popup > .popup-triangle-wrapper > .popup-triangle-inner,
.mui.popup > .popup-triangle-wrapper > .popup-triangle-inner {
	border: 1px solid hsla(224, 8%, 15%, 1);
	background: hsla(224, 8%, 30%, 1); //var(--mui-normal-color);
}


@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.mui {
	color:white;
	font-family: 'Open Sans', sans-serif;
	background:hsla(224, 8%, 30%, 1); //var(--mui-normal-color);
	font-size: 18px;
	font-weight: normal;
	text-shadow: none;
	text-align: left;
}

.mui-light {
	color:black;
	font-family: 'Open Sans', sans-serif;
	background:white;
	font-size: 18px;
	font-weight: normal;
	text-shadow: none;
	text-align: left;
}

.mui.disabled,
.mui .disabled {
	color:gray;
}

.mui-light .popup > #title,
.mui .popup > #title {
	text-align: center;
	margin: 0px;
	padding: 5px;
	background: hsla(224, 8%, 36%, 1);
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.mui .popup > #title {
	background: hsla(224, 8%, 36%, 1);
}

.mui-light .popup > #title {
	background: hsla(0, 0%, 80%, 1);
}

.mui-light .popup > *,
.mui .popup > * {
	margin:5px;
}


.mui .popup,
.mui.popup {
	background: hsla(224, 8%, 30%, 1); //var(--mui-normal-color);
	border-radius:8px;
	border:1px solid hsla(224, 8%, 15%, 1);
	box-shadow:0 0 100px black;
}

.mui-light .popup,
.mui-light.popup {
	background:white;
	border-radius:8px;
	border:1px solid gray;
	box-shadow: 0px 0px 100px rgba(0,0,0,0.5);
}

.mui-light.list,
.mui-light .list {
	margin-left:0px;
	margin-right:0px;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	background:hsla(0, 0%, 95%, 1);
}

.mui.list,
.mui .list {
	margin-left:0px;
	margin-right:0px;
	border-top:1px solid hsla(224, 8%, 15%, 1); //var(--mui-dark-color);
	border-bottom:1px solid hsla(224, 8%, 15%, 1); //var(--mui-dark-color);
	background:hsla(224, 8%, 36%, 1); //var(--mui-light-color);
}

.mui .list > *:first-child,
.mui.list > *:first-child {
	border-top:0;
}

.mui .list > * > * {
	border-bottom:1px solid hsla(224, 8%, 15%, 1); //var(--mui-dark-color);
}
.mui-light .list > * > * {
	border-bottom:1px solid gray;
}

.mui-light .list > *:last-child > *,
.mui .list > *:last-child > * {
	border-bottom:none;
}
.mui-light .list > *:last-child > *:first-child,
.mui .list > *:last-child > *:first-child {
	border-bottom:none;
}
.mui-light .list > * > *:first-child {
	border-bottom:1px solid hsla(0, 0%, 95%, 1);
}
.mui .list > * > *:first-child {
	border-bottom:1px solid hsla(224, 8%, 36%, 1);
}

.mui-light.list.selectable > .selected,
.mui-light .list.selectable > .selected,
.mui.list.selectable > .selected,
.mui .list.selectable > .selected {
	background: hsla(200, 87%, 50%, 1);
	color:inherit;
}

.mui-light.list.selectable > .selected:hover,
.mui-light .list.selectable > .selected:hover,
.mui.list.selectable > .selected:hover,
.mui .list.selectable > .selected:hover {
	background: hsla(200, 87%, 50%, 1);
	background:#29a1d3; 
}

.mui.list.selectable > *:hover,
.mui .list.selectable > *:hover{
	background:hsla(224, 8%, 50%, 1);
}

.mui-light .list.selectable > *:hover,
.mui-light.list.selectable > *:hover{
	background:hsla(0, 0%, 75%, 1);
}

.mui .table.list > .list > * {
	border:0;
	padding:0px 5px 0px 5px;
	
}
.mui .table.list > .list > *:first-child{
	padding-left:10px;
	
}
.mui .table.list > .list > *:last-child{
	padding-right:10px;
	
}

.mui .checkbox > label {
	padding-left:5px;
}

.mui.tabs > #_Maggi_UI_TabView_Header > *,
.mui .tabs > #_Maggi_UI_TabView_Header > * {
        display: inline-block;
        padding:5px;
        padding-left:10px;
        padding-right:10px;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
        color:#454954
}

.mui.tabs > #_Maggi_UI_TabView_Header > *:hover,
.mui .tabs > #_Maggi_UI_TabView_Header > *:hover {
        color:white;
}

.mui.tabs > #_Maggi_UI_TabView_Header > .selected,
.mui .tabs > #_Maggi_UI_TabView_Header > .selected {
        background: #454954;
        color:white;
}

.mui.tabs > #_Maggi_UI_TabView_Header,
.mui .tabs > #_Maggi_UI_TabView_Header {
        background: #24252a;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
}

.tabs > #_Maggi_UI_TabView_Container > * {
        display: none;
	padding:5px;
}

.tabs > #_Maggi_UI_TabView_Container > .selected {
        display: block;
}


.mui .button,
.mui-light .button {
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	border-radius:5px;
	padding:5px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.mui .button {
	background:#525864;
	color:white;
}

.mui-light .button {
	background: hsla(0, 0%, 85%, 1);
	color:black;
}

.mui .button:hover {
	box-shadow: 0px 0px 0px 1px white;
}

.mui-light .button:hover {
	box-shadow: 0px 0px 0px 1px black;
}

.mui .button.red,
.mui-light .button.red {
	background: hsla(12, 87%, 50%, 1);
}
.mui .button.green,
.mui-light .button.green {
	background: hsla(100, 87%, 50%, 1);
}
.mui .button.blue,
.mui-light .button.blue {
	background: hsla(200, 87%, 50%, 1);
}
.mui .button.yellow,
.mui-light .button.yellow {
	background: hsla(55, 87%, 50%, 1);
}
.mui .button.disabled, 
.mui-light .button.disabled {
	background: hsla(0, 0%, 50%, 1) !important;
	box-shadow: none;
}

.mui .link a {
	color:white;
}



.mui-light {

}
