
body, h1, h2, h3, h4 {
margin: 0;
padding: 0;
cursor: default;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

input {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}
input::-moz-selection {
	background:#29a1d3;
}
input::selection {
	background:#29a1d3;
}

body {
	font-family: 'Open Sans', sans-serif;
}

#console {
	height:200px;
}

#console input {
	font-size:16px;
	border:0px;
	white-space: pre; font-family: "Courier New", monospace;
	width:100%;
	outline:0;
	background: #eee;
}

.preformatted {
	outline: 1px solid #ccc; padding: 5px; margin: 5px; white-space: pre; font-family: "Courier New", monospace; background: #fff;
}

table {
	border-collapse: collapse;
	border-spacing:0px;
}

div.button {
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	border-radius:4px;
	background:#525864;
	padding:5px;
	color:white;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.button:hover {
	box-shadow: 0px 1px 1px black;
}

div.button.red {
	background: #ee4e10;
}
div.button.green {
	background: #8ab71c;
}
div.button.blue {
	background: #29a1d3;
}
div.button.yellow {
	background: #f1b018;
}
div.button.inactive, div.button.disabled {
	background: #888888 !important;
	box-shadow: none;
}


.table > * {
	display:table-row;
}

.table > * > * {
	display:table-cell;
}

.popup .scroll {
	height:400px;
}

#content.tabs {
	box-shadow:0px 4px 10px #aaa;
	border-radius:6px;
	overflow:hidden;
	padding:2px;
	background: #24252a;
}

#content.tabs > #_Maggi_UI_TabView_Header > * {
	font-weight:bold;
	display: inline-block;
	padding:8px;
	color:#888;
}

#content.tabs > #_Maggi_UI_TabView_Header > .selected {
	color:black;
	background:linear-gradient(#ddd, #eee);
}

#content.tabs > #_Maggi_UI_TabView_Header {
	display:block;
}

#content.tabs > #_Maggi_UI_TabView_Container {
	background:#eee;
	padding:10px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

.tabs > #_Maggi_UI_TabView_Container > * {
	display: none;
}

.tabs > #_Maggi_UI_TabView_Container > .selected {
	display: block;
}

#left, #right {
	display: table-cell;
	width: 50%;
	padding:10px;
}

#left { 
	border-right:2px solid gray;
}


h1 {
	background:linear-gradient(#fff, #eee);
	box-shadow:0px -4px 20px #000;
	text-shadow: 0px 1px 0px white;
}

#cart {
	width: 400px;
}

h2 {
	margin-bottom:10px;
}

.link:hover {
	text-decoration: underline;
	color:blue;
}


.doc {
	margin:10px;
}

.doc	h3 {
	margin-top:10px;
}

.doc .property #propname, .doc .property #proptype, .doc .property #default {
	font-weight: bold;
}
.doc .property #example {
	white-space: pre; font-family: "Courier New", monospace;
}

.doc .property #propname:before {
	content:"name: ";
	font-style: italic;
	font-weight: normal;
}

.doc .property #proptype:before {
	content:"type: ";
	font-style: italic;
	font-weight: normal;
}

.doc .property #default:before {
	content:"default: ";
	font-style: italic;
	font-weight: normal;
}

.doc .property #example:before {
	font-family: 'Open Sans', sans-serif;
	content:"example: ";
	font-style: italic;
	font-weight: normal;
}

.doc .property #name {
	font-size:20px;
	margin-top:10px;
}

.typeui {
}

.typeui #head {
	font-size:20px;
}

#content {
	border-radius:8px;
}


.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

#mag #items.list > *:hover {
	text-decoration:underline;
}
